version: '3.3'

services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus
    volumes:
      - /srv/docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - 9092:9090
    restart: unless-stopped 
    networks:
      - coiso
      - development-server

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($|/)'
    ports:
      - "9100:9100"
    restart: unless-stopped
    networks:
      - coiso
    
networks:
  coiso:
    name: coiso
    external: true
  development-server:
    name: development-server
    external: true    