version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    user: "1000:1000"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    env_file:
      - /srv/docker/env/pihole.env
    volumes:
      - /srv/docker/pihole6/etc-pihole:/etc/pihole
      - /srv/docker/pihole6/etc-dnsmasq.d:/etc/dnsmasq.d
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    # cap_add:
    #   - NET_ADMIN # Required if you are using Pi-hole as your DHCP server, else not needed
    restart: unless-stopped
    networks:
      - coiso

networks:
  coiso:
    name: coiso
    external: true