version: '3.3'

services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus
    env_file:
      - /srv/docker/env/server-monitor.env
    volumes:
      - /srv/docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - 9092:9090
    restart: unless-stopped 
    networks:
      - coiso
      - development-server

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - /srv/docker/grafana/provisioning:/etc/grafana/provisioning
      - /srv/docker/grafana/grafana.ini:/etc/grafana/grafana.ini
    env_file:
      - /srv/docker/env/server-monitor.env
    ports:
      - "3030:3000"
    restart: unless-stopped
    networks:
      - coiso
      
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    env_file:
      - /srv/docker/env/server-monitor.env
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($|/)'
    ports:
      - "9100:9100"
    restart: unless-stopped
    networks:
      - coiso

volumes:
  prometheus_data: {}
  grafana_data: {}

networks:
  coiso:
    name: coiso
    external: true
  development-server:
    name: development-server
    external: true    