
services:
  authelia:
    image: authelia/authelia
    container_name: authelia
    volumes:
      - /srv/docker/authelia/config:/config
    env_file:
      - /srv/docker/env/bitcoin.env  
    networks:
      - coiso
    restart: 'unless-stopped'
    healthcheck:
      ## In production the healthcheck section should be commented.
      disable: true

  redis:
    image: 'redis:alpine'
    container_name: 'redis'
    volumes:
      - './redis:/data'
    networks:
      - coiso
    restart: 'unless-stopped'
    environment:
      TZ: 'Australia/Melbourne'


networks:
  coiso:
    name: coiso
    external: true