services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    env_file:
      - /srv/docker/env/homepage.env
    #user: "1000:1000"
    volumes:
      - /srv/docker/homepage/config:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock:ro # optional, for docker integrations
      - /d:/d:ro
    restart: unless-stopped
    networks:
      - coiso
      - development-server
      
networks:
  coiso:
    name: coiso
    external: true
  development-server:
    name: development-server
    external: true
