version: '3.3'

services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    volumes:
      - /srv/docker/uptimekuma:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    networks:
      - coiso
      - development-server
      
networks:
  coiso:
    name: coiso
    external: true
  development-server:
    name: development-server
    external: true    