version: '3.3'

services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus
    env_file:
      - /srv/docker/env/server-monitor.env
    volumes:
      - /srv/docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--web.enable-remote-write-receiver'      
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: unless-stopped 
    networks:
      - coiso

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - /srv/docker/grafana/provisioning:/etc/grafana/provisioning
      - /srv/docker/grafana/grafana.ini:/etc/grafana/grafana.ini
    env_file:
      - /srv/docker/env/server-monitor.env
    restart: unless-stopped
    networks:
      - coiso

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - 3100:3100
    volumes:
      - /srv/docker/loki/loki-config.yml:/etc/loki/loki-config.yaml
    networks:
      - coiso

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    privileged: true
    ports:
      - 12345:12345
      - 4317:4317
      - 4318:4318
    volumes:
      - /srv/docker/alloy/config.alloy:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    command: run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    networks:
      - coiso

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    env_file:
      - /srv/docker/env/server-monitor.env
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($|/)'
    restart: unless-stopped
    networks:
      - coiso

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - 8080:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - coiso
      
volumes:
  prometheus_data: {}
  grafana_data: {}

networks:
  coiso:
    name: coiso
    external: true
  development-server:
    name: development-server
    external: true    