version: '3.3'

services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus
    volumes:
      - /srv/docker/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9092:9090
    networks:
      - coiso
      - development-server

networks:
  coiso:
    name: coiso
    external: true
  development-server:
    name: development-server
    external: true    